In [ ]:
#install connector api using the command below.
%pip install mysql-connector-python

In [ ]:
#Step 1: Establish a connection 
# Import the MySQL Connector/Python
import mysql.connector as connector

In [ ]:
# Establish connection between Python and MySQL database via connector API
connection=connector.connect(host="localhost",
                             user="root", # use your own
                             password="admin", # use your own
                            )
print("Connection between MySQL and Python is established.\n")

In [ ]:
#Step 2: Create a cursor
# Create cursor object to communicate with entire MySQL database
cursor = connection.cursor()
print("Cursor is created to communicate with the MySQL using Python.\n")

In [ ]:
#Create the database and set it for use
# If exist, drop the database first, and create again
try:
    cursor.execute("CREATE DATABASE little_lemon_db")
except:
    cursor.execute("drop database little_lemon_db")
    cursor.execute("CREATE DATABASE little_lemon_db")
print("The database little_lemon_db is created.\n")

In [ ]:
# Set little_lemon database for use 
cursor.execute("USE little_lemon_db")
print("The database little_lemon_db is set for use.\n")

In [ ]:
#Step 4: Create tables
#Create statement for MenuItems table
create_menuitem_table = """CREATE TABLE MenuItems (
ItemID INT AUTO_INCREMENT,
Name VARCHAR(200),
Type VARCHAR(100),
Price INT,
PRIMARY KEY (ItemID)
);"""

In [ ]:
#Create statement for Menus table
create_menu_table = """CREATE TABLE Menus (
MenuID INT,
ItemID INT,
Cuisine VARCHAR(100),
PRIMARY KEY (MenuID,ItemID)
);"""

In [ ]:
#Create statement for Bookings table
create_booking_table = """CREATE TABLE Bookings (
BookingID INT AUTO_INCREMENT,
TableNo INT,
GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL,
BookingSlot TIME NOT NULL,
EmployeeID INT,
PRIMARY KEY (BookingID)
);"""

In [ ]:
#Create statement for Orders table
create_orders_table = """CREATE TABLE Orders (
OrderID INT,
TableNo INT,
MenuID INT,
BookingID INT,
BillAmount INT,
Quantity INT,
PRIMARY KEY (OrderID,TableNo)
);"""

In [ ]:
#Create statement for employees table
create_employees_table = """CREATE TABLE Employees (
EmployeeID INT NOT NULL AUTO_INCREMENT,
Name VARCHAR(100),
Role VARCHAR(100),
Address VARCHAR(255),
Contact_Number INT,
Email VARCHAR(100),
Annual_Salary VARCHAR(100),
PRIMARY KEY(EmployeeID)
);"""

In [ ]:
# Create MenuItems table
cursor.execute(create_menuitem_table)

# Create Menu table
cursor.execute(create_menu_table)

# Create Bookings table
cursor.execute(create_booking_table)

# Create Orders table
cursor.execute(create_orders_table)

# Create Employees table
cursor.execute(create_employees_table)

In [ ]:
#Step 5: Insert data#
#*******************************************************#
# Insert query to populate "MenuItems" table:
#*******************************************************#
insert_menuitems="""
INSERT INTO MenuItems (ItemID, Name, Type, Price)
VALUES
(1, 'Olives','Starters',5),
(2, 'Flatbread','Starters', 5),
(3, 'Minestrone', 'Starters', 8),
(4, 'Tomato bread','Starters', 8),
(5, 'Falafel', 'Starters', 7),
(6, 'Hummus', 'Starters', 5),
(7, 'Greek salad', 'Main Courses', 15),
(8, 'Bean soup', 'Main Courses', 12),
(9, 'Pizza', 'Main Courses', 15),
(10, 'Greek yoghurt','Desserts', 7),
(11, 'Ice cream', 'Desserts', 6),
(12, 'Cheesecake', 'Desserts', 4),
(13, 'Athens White wine', 'Drinks', 25),
(14, 'Corfu Red Wine', 'Drinks', 30),
(15, 'Turkish Coffee', 'Drinks', 10),
(16, 'Turkish Coffee', 'Drinks', 10),
(17, 'Kabasa', 'Main Courses', 17);"""

In [ ]:
#*******************************************************#
# Insert query to populate "Menu" table:
#*******************************************************#
insert_menu="""
INSERT INTO Menus (MenuID,ItemID,Cuisine)
VALUES
(1, 1, 'Greek'),
(1, 7, 'Greek'),
(1, 10, 'Greek'),
(1, 13, 'Greek'),
(2, 3, 'Italian'),
(2, 9, 'Italian'),
(2, 12, 'Italian'),
(2, 15, 'Italian'),
(3, 5, 'Turkish'),
(3, 17, 'Turkish'),
(3, 11, 'Turkish'),
(3, 16, 'Turkish');"""

In [ ]:
#*******************************************************#
# Insert query to populate "Bookings" table:
#*******************************************************#
insert_bookings="""
INSERT INTO Bookings (BookingID, TableNo, GuestFirstName, 
GuestLastName, BookingSlot, EmployeeID)
VALUES
(1, 12, 'Anna','Iversen','19:00:00',1),
(2, 12, 'Joakim', 'Iversen', '19:00:00', 1),
(3, 19, 'Vanessa', 'McCarthy', '15:00:00', 3),
(4, 15, 'Marcos', 'Romero', '17:30:00', 4),
(5, 5, 'Hiroki', 'Yamane', '18:30:00', 2),
(6, 8, 'Diana', 'Pinto', '20:00:00', 5);"""

In [ ]:
#*******************************************************#
# Insert query to populate "Orders" table:
#*******************************************************#
insert_orders="""
INSERT INTO Orders (OrderID, TableNo, MenuID, BookingID, Quantity, BillAmount)
VALUES
(1, 12, 1, 1, 2, 86),
(2, 19, 2, 2, 1, 37),
(3, 15, 2, 3, 1, 37),
(4, 5, 3, 4, 1, 40),
(5, 8, 1, 5, 1, 43);"""

In [ ]:
#*******************************************************#
# Insert query to populate "Employees" table:
#*******************************************************#
insert_employees = """
INSERT INTO employees (Name, Role, Address, Contact_Number, Email, Annual_Salary)
VALUES 
('Mario Gollini','Manager','724, Parsley Lane, Old Town, Chicago, IL',351258074,'Mario.g@littlelemon.com','$70,000'),
('Adrian Gollini','Assistant Manager','334, Dill Square, Lincoln Park, Chicago, IL',351474048,'Adrian.g@littlelemon.com','$65,000'),
('Giorgos Dioudis','Head Chef','879 Sage Street, West Loop, Chicago, IL',351970582,'Giorgos.d@littlelemon.com','$50,000'),
('Fatma Kaya','Assistant Chef','132  Bay Lane, Chicago, IL',351963569,'Fatma.k@littlelemon.com','$45,000'),
('Elena Salvai','Head Waiter','989 Thyme Square, EdgeWater, Chicago, IL',351074198,'Elena.s@littlelemon.com','$40,000'),
('John Millar','Receptionist','245 Dill Square, Lincoln Park, Chicago, IL',351584508,'John.m@littlelemon.com','$35,000');"""

In [ ]:
# Populate MenuItems table
cursor.execute(insert_menuitems)
connection.commit()

In [ ]:
# Populate MenuItems table
cursor.execute(insert_menu)
connection.commit()

In [ ]:
# Populate Bookings table
cursor.execute(insert_bookings)
connection.commit()

In [ ]:
# Populate Orders table
cursor.execute(insert_orders)
connection.commit()

In [ ]:
# Populate Employees table
cursor.execute(insert_employees)
connection.commit()

In [ ]:
connection.close()

In [ ]:
#Task 1 establish a connection pool
#Import MYSQLConnectionPool
from mysql.connector import pooling

In [ ]:
#import Error
from mysql.connector.errors import Error

In [ ]:
dbconfig = {
  'user': 'root',
  'password': 'admin',
  'host': 'localhost',
  'database': 'little_lemon_db',
  'raise_on_warnings': True
}

In [ ]:
#Create pool_a with 2 connections
try:
    # Establish a connection pool with two connections
    pool_b = pooling.MySQLConnectionPool(pool_size=2, **dbconfig)
    print("Connection pool created successfully.")
except Error as e:
    print("Error creating connection pool:", e)

In [ ]:
# Guest 1 data
table_number_1 = 8
first_name_1 = 'Anees'
last_name_1 = 'Java'
booking_time_1 = '18:00'
employee_id_1 = 6

# Guest 2 data
table_number_2 = 5
first_name_2 = 'Bald'
last_name_2 = 'Vin'
booking_time_2 = '19:00'
employee_id_2 = 6

# Guest 3 data
table_number_3 = 12
first_name_3 = 'Jay'
last_name_3 = 'Kon'
booking_time_3 = '19:30'
employee_id_3 = 6

#For each guest get a connection from the pool and insert data into the Bookings table

try:
    conn1 = pool_b.get_connection()
    cursor1 = conn1.cursor()
    cursor1.execute("INSERT INTO Bookings (TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID) VALUES (%s, %s, %s, %s, %s)", (table_number_1, first_name_1, last_name_1, booking_time_1, employee_id_1))
    conn1.commit()
    print("Data inserted successfully into the Bookings table (guest 1).")
except Error as e:
    print("Error inserting data into the Bookings table (guest 1):", e)
    # Create a connection
    connection=connector.connect(user="root",password="admin")
    # Add the connection into the pool
    pool_b.add_connection()
    print("A new connection is added in the pool.\n")
    conn1 = pool_b.get_connection()
    print("'connection1' is added in the pool.")

try:
    conn2 = pool_b.get_connection()
    cursor2 = conn2.cursor()
    cursor2.execute("INSERT INTO Bookings (TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID) VALUES (%s, %s, %s, %s, %s)", (table_number_2, first_name_2, last_name_2, booking_time_2, employee_id_2))
    conn2.commit()
    print("Data inserted successfully into the Bookings table (guest 2).")
except Error as e:
    print("Error inserting data into the Bookings table (guest 2):", e)
    # Create a connection
    connection=connector.connect(user="root",password="admin")
    # Add the connection into the pool
    pool_b.add_connection()
    print("A new connection is added in the pool.\n")
    conn2 = pool_b.get_connection()
    print("'connection2' is added in the pool.")
    cursor2 = conn2.cursor()
    cursor2.execute("INSERT INTO Bookings (TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID) VALUES (%s, %s, %s, %s, %s)", (table_number_2, first_name_2, last_name_2, booking_time_2, employee_id_2))
    conn2.commit()
    print("Data inserted successfully into the Bookings table (guest 2).")


try:
    conn3 = pool_b.get_connection()
    cursor3 = conn3.cursor()
    cursor3.execute("INSERT INTO Bookings (TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID) VALUES (%s, %s, %s, %s, %s)", (table_number_3, first_name_3, last_name_3, booking_time_3, employee_id_3))
    conn3.commit()
    print("Data inserted successfully into the Bookings table (guest 3).")
except Error as e:
    print("Error inserting data into the Bookings table (guest 3):", e)
    # Create a connection
    connection=connector.connect(user="root",password="admin")
    # Add the connection into the pool
    pool_b.add_connection()
    print("A new connection is added in the pool.\n")
    conn3 = pool_b.get_connection()
    print("'connection3' is added in the pool.")
    cursor3 = conn3.cursor()
    cursor3.execute("INSERT INTO Bookings (TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID) VALUES (%s, %s, %s, %s, %s)", (table_number_3, first_name_3, last_name_3, booking_time_3, employee_id_3))
    conn3.commit()
    print("Data inserted successfully into the Bookings table (guest 3).")

# Close the cursors if they were successfully defined
conns = (conn1,conn2,conn3)
for conn in conns:
    try:
        conn.close()
    except Error as e:
        print(e.msg)

In [ ]:
#Generate a report 

#Create a new connection to pool_b
cnx = pool_b.get_connection()
#Create a new cursor in the connection
cursor=cnx.cursor()
#Import pandas to create a dataframe report from results
import pandas as pd

#find the name and EmployeeID of the Little Lemon manager
cursor.execute("SELECT Name, EmployeeID FROM employees WHERE Role = 'Manager'")
manager = cursor.fetchone()

#find the name and role of the employee who receives the highest salary
cursor.execute("SELECT Name, Role FROM employees ORDER BY Annual_Salary DESC LIMIT 1")
highest_paid_employee = cursor.fetchone()

#find the number of guests booked between 18:00 and 20:00
cursor.execute("SELECT COUNT(*) FROM Bookings WHERE BookingSlot BETWEEN '18:00' AND '20:00'")
guest_count = cursor.fetchone()[0]

# Query to find the full name and BookingID of all guests waiting to be seated with the receptionist in sorted order with respect to their BookingSlot
cursor.execute("SELECT GuestFirstName, GuestLastName, BookingID, CONCAT(HOUR(BookingSlot),':',LPAD(MINUTE(BookingSlot),2,0)) FROM Bookings ORDER BY BookingSlot")
guests = cursor.fetchall()

# Create dataframe report
data = {'Little Lemon Manager': [manager[0]], 'EmployeeID': [manager[1]], 'Highest Paid Employee': [highest_paid_employee[0]], 'Role': [highest_paid_employee[1]], 'Number of guests booked between 18:00 and 20:00': [guest_count]}
df = pd.DataFrame(data)

# Creating the dataframe for guests
guests_df = pd.DataFrame(guests)
guests_df.columns =['Guest First Name', 'Guest Last Name','Booking ID', 'Booking Slot']
# Displaying the dataframe
print(df)
print(guests_df)

# Close the connection
cnx.close()

In [ ]:
#Create a new connection to pool_b
cnx = pool_b.get_connection()
#Create a new cursor in the connection
cursor=cnx.cursor()
#Create a string that will creatue a stored procedure on the MYSQL database named BasicSalesReport
create_basic_sales_report ="""
CREATE PROCEDURE IF NOT EXISTS BasicSalesReport()
BEGIN
    SELECT SUM(BillAmount) AS 'Total Sales',
           AVG(BillAmount) AS 'Average Sale',
           MIN(BillAmount) AS 'Minimum Bill Paid',
           MAX(BillAmount) AS 'Maximum Bill Paid'
    FROM Orders;
END
"""

In [ ]:
#execute the create query
try:
    cursor.execute(create_basic_sales_report)
except:
    cursor.execute("DROP PROCEDURE BasicSalesReport")
    cursor.execute(create_basic_sales_report)
cnx.commit()

In [ ]:
#Call BasicSalesReport Procedure
cursor.callproc('BasicSalesReport')
results = cursor.stored_results()

In [ ]:
#Create column list to extract column names to
col_list = []

#Loop through the generator 'results' for each element
for generator_element in results:
    #Extract the description of each column from an element in the generator. Store it as col_desc
    col_desc = list(generator_element.description)
    #Extract the dataset as a list from the generator element
    results = generator_element.fetchall()
    dataset = results[0]
    for x in col_desc:
        col_list.append(x[0])
#Print the names of the columns followed by their value
for x in range(4):
        print(col_list[x]+" : $"+str(round(dataset[x],2)))
cnx.close()

In [ ]:
#Get a connection from the connection pool 
try:
    cnx = pool_b.get_connection()
except:
    print("Error establishing Connection")
if (cnx.is_connected()):
    print("Connected")
else:
    print("Not connected")
cursor = cnx.cursor(buffered=True)
cursor.execute("""
SELECT 
    Bookings.BookingID, 
    Bookings.TableNo, 
    CONCAT(Bookings.GuestFirstName," ",Bookings.GuestLastName) As 'Guest Name', 
    CONCAT(HOUR(Bookings.BookingSlot),':',LPAD(MINUTE(Bookings.BookingSlot),2,0)) AS 'Booking Slot', 
    Employees.Name,
    Employees.Role,
    Employees.Annual_Salary
FROM Bookings
JOIN Employees ON Bookings.EmployeeID = Employees.EmployeeID
ORDER BY Bookings.BookingSlot ASC
LIMIT 3;""")
results = cursor.fetchall()
for x in results:
    print("BookingSlot "+x[3]+"")
    print("\tGuest_name: "+x[2])
    print("\tAssigned to: "+x[4]+" "+x[5]+"\n")
#Close Connection
try:
    cnx.close()
    print("Connection closed")
except:
    print("error closing connection")